# Splunk Configuration
SPLUNK_GENERAL_TERMS=--accept-sgt-current-at-splunk-com
SPLUNK_PASSWORD=SplunkTestPassword123!
SPLUNK_HEC_TOKEN=00000000-0000-0000-0000-000000000000
SPLUNK_WEB_PORT=8000
SPLUNK_API_PORT=8089
SPLUNK_HEC_PORT=8088

# MySQL Configuration
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=testdb
MYSQL_USER=spluser
MYSQL_PASSWORD=splpassword
MYSQL_PORT=3306

